.card{
  display: flex;
  border: 1px solid gray;
  padding: 8px;
  gap: 4px;
}

.post-image{
  width: 120px;
  height: 80px;
  object-fit: cover;
}

.post-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

li{
  list-style: none;
  margin-bottom: 4px;
}

ul{
  padding-left: 0px;
}

.buttons-container{
  display: flex;
  flex-direction: column;
}

.spacer{
  flex-grow: 1;
}
